@media screen and (max-width:700px) {
    footer{
        margin-top: 50px;
        background-color: #AFC6E9;
        padding: 30px 20px;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    footer .school{
        display: flex;
        flex-direction: column;
        width: 320px;
        align-items: center;
        gap: 48px;
    }
    footer .name-location-school{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;        
    }
    footer .name-school{
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        color: #2C2C2C;            
    }
    footer .address-school{
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #2C2C2C;        
    }
    footer .information-contact-school{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        width: 320px;
        gap: 24px;
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;        
        color: #2C2C2C;
    }
    footer .contact-school{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #2C2C2C;                        
    }
    .footer-navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 12px;        
        width: 320px;        
    }
    .footer-logo img{
        height: 64px;
    }
    .footer-navigation{
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: 12px;       
    }
    .footer-navigation-content{
        display: flex;
        flex-direction: column;
        align-items: center;  
        gap: 12px;                
    }
    .footer-navigation-content a{
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;                
        text-align: center;
        color: #2C2C2C;        
    }
    .footer-navigation-content .active{
        color: white;
    }
    .footer-subnav{
        overflow: hidden;
    }
    .footer-subnavbtn{       
            font-size: 16px;  
            border: none;
            outline: none;
            color: #2C2C2C;
            padding: 8px 16px;
            background-color: inherit;
            font-family: inherit;            
            margin: 0;          
      }
      .footer-subnav-content {
        display: none;
          position: absolute;
          background-color: #2A5594;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
      }
      .footer-subnav-content a {
        float: none;
          color: white;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: center;  
      }      
      .footer-subnav-content a:hover {
        font-size: 16px;  
              border: none;
              outline: none;
              color: #2c2c2c;
              padding: 8px 16px;
              background-color:transparent;
              font-family: inherit;            
              margin: 0;    
      }
      
      .footer-subnav:hover .footer-subnav-content {
        display: block;
      }      
}
@media  screen and (min-width:701px) {
    footer{        
        background-color: #AFC6E9;
        padding: 30px 106px;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;        
        gap: 30px;
    }
    .school{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 242px;        
        width: 1028px;        
    }
    .name-location-school{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;        
        width: 544px;        
    }
    .name-school{
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        color: #2C2C2C;                
    }
    .address-school{
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #2C2C2C;        
    }
    .information-contact-school{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;        
        width: 242px;        
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;                    
        color: #2C2C2C;        
    }
    .contact-school{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;                        
        color: #2C2C2C;                
    }
    .footer-navbar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 30px 0px;
        gap: 150px;        
        width: 1028px;        
    }
    .footer-logo img{
        height: 64px;
    }
    .footer-navigation{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 150px;        
    }
    .footer-navigation-content{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 20px;        
    }
    .footer-navigation-content a{
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #2A5594;        
    }
    .footer-navigation-content .active{
        color: white;
    }
    .footer-subnav{
        overflow: hidden;
    }
    .footer-subnavbtn{       
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;  
        border: none;
        outline: none;
        color: #2A5594;        
        background-color: inherit;
        font-family: inherit;                           
  }
  .footer-subnav-content {
    display: none;
      position: absolute;
      background-color: #2A5594;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }
  .footer-subnav-content a {
    float: none;
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: center;  
  }      
  .footer-subnav-content a:hover {
        font-size: 16px;  
        border: none;
        outline: none;
        color: #2c2c2c;
        padding: 8px 16px;
        background-color:transparent;
        font-family: inherit;            
        margin: 0;    
  }
  
  .footer-subnav:hover .footer-subnav-content {
    display: block;
  }     

}